<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>-->
            <!--<Pattern>%-5p|%d{ISO8601}{GMT}|%X{Slf4MDCFilter.UUID}|%c{1}|%m%ex%n</Pattern>-->
            <Pattern>%-5p|%date{ISO8601}|%X{Slf4jMDCFilter.UUID}|%logger{0}|%m%ex%n</Pattern>
        </layout>
    </appender>

    <!-- This is the kafkaAppender -->
<!--
    <appender name="asyncTasLogKafka"
              class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender name="kafkaVerboseAppender"
                  class="com.github.danielwegener.logback.kafka.KafkaAppender">
            <encoder
                    class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>tas_logs-%msg</pattern>
                </layout>
            </encoder>
            <topic>tas_logs</topic>
            <keyingStrategy
                    class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy" />
            <deliveryStrategy
                    class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
            <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
            <producerConfig>retries=2</producerConfig>
        </appender>
        <appender-ref ref="STDOUT"/>
    </appender>
    -->



    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="io.netty" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.github.kpavlov" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.solab.iso8583" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.lambdaworks.redis" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.avantir.blowfish" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

    <!--
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    -->

</configuration>

